<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="internalLog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<!-- the targets to write to -->
	<targets>
		<!-- write to file -->
		<target xsi:type="File" name="alldata" fileName="demo-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<!-- write to console -->
		<target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
		  layout="****${message}${newline}${longdate}|${level:uppercase=true}|${logger}${newline}">
		  <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
		  <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
		</target>
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="alldata" />
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<logger name="*" minlevel="Trace" writeTo="otherFile-web" />
		<logger name="*" minlevel="Info" writeTo="coloredConsole" />
	</rules>
</nlog>